<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>keywords</title>
  </head>
  <body>
    <h1>关键词管理</h1>
    <div>
      <div>
        <span>关键词：</span>
        <input id="inputKw"></input>
      </div>
      <div>
        <span>中文：</span>
        <input id="inputZh"></input>
      </div>
      <div>
        <input type="checkbox" id="inputIsTarget" checked="checked">是否目标关键词</input>
      </div>
      <div>
        <span>标签(逗号分隔)</span>
        <input id="inputTags"></input>
      </div>
      <div>
        <span>产品ID(逗号分隔)</span>
        <input id="inputProductIds"></input>
      </div>
      <div>
        <span>网址</span>
        <input id="inputSite"></input>
      </div>
      <div>
        <button id="btnCreate">创建</button>
      </div>
    </div>
    <script>
      var inputKw = document.getElementById("inputKw");
      var inputZh = document.getElementById("inputZh");
      var inputIsTarget = document.getElementById("inputIsTarget");
      var inputTags = document.getElementById("inputTags");
      var inputProductIds = document.getElementById("inputProductIds");
      var inputSite = document.getElementById("inputSite");
      var btnCreate = document.getElementById("btnCreate");
      var getKeyword = function(){
        var kw = {};
        kw.en = inputKw.value.trim();
        if(!kw.en){alert("请输入英文！");return false;}
        kw.zh = inputZh.value.trim();
        if(!kw.zh){alert("请输入中文！");return false;}
        kw.isTarget = inputIsTarget.checked;
        kw.tags = [];
        var tags = inputTags.value.trim();
        if(tags !== ""){
          tags.split(",").forEach(function(tag, index, arr){
            var trimed = tag.trim();
            if(trimed !== ""){
              kw.tags.push(trimed);
            }
          })
        }
        kw.pids = [];
        var pids = inputProductIds.value.trim();
        if(pids !== ""){
          pids.split(",").forEach(function(pid, index, arr){
            var trimed = pid.trim();
            if(trimed !== ""){
              kw.pids.push(trimed);
            }
          })
        }
        kw.site = inputSite.value.trim();
        if(!kw.site){alert("请输入网址！");return false;}
        return kw;
      }
      ipcRenderer.on('saved', function(event,doc,arg){
        console.log("saved",event,doc,arg);
      });
      btnCreate.addEventListener("click",function(){
        var keyword = getKeyword();
        console.log(keyword);
        ipcRenderer.sendToHost("saveKeyword",keyword);
      });
    </script>
  </body>
</html>
